#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

#headBox { width: 100%; min-width: 960px; min-width: 60rem; height: 55px; height: 3.4375rem; background-color: black; position: fixed; z-index: 3000; }

#headBox #gnb { width: 100%; height: 100%; }

#headBox #gnb .lang_box { width: 130px; height: 40px; float: right; margin-right: 60px; margin-top: 5px; text-align: center; color: #ffffff; font-size: 16px; font-size: 1rem; cursor: pointer; overflow: hidden; }

#headBox #gnb .lang_box .language { width: 100%; height: 120px; background-color: #111; position: relative; z-index: 10; }

#headBox #gnb .lang_box .language li { width: 100%; height: 40px; text-transform: uppercase; line-height: 40px; }

#headBox #gnb .lang_box .language li a { width: 100%; height: 100%; color: #ffffff; text-decoration: none; }

#headBox #gnb .lang_box .language li:nth-of-type(1) { background-image: url("../img/global/south_korea.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }

#headBox #gnb .lang_box .language li:nth-of-type(2) { background-image: url("../img/global/global.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }

#headBox #gnb .lang_box .language li:nth-of-type(3) { background-image: url("../img/global/japan.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }

#headBox #gnb .gnb_box { width: 500px; height: 100%; margin-right: 120px; float: right; }

#headBox #gnb .gnb_box li { width: 90px; height: 90%; float: left; text-align: center; line-height: 55px; line-height: 3.4375rem; margin-left: 20px; }

#headBox #gnb .gnb_box li a { display: block; width: 100%; height: 90%; color: #ffffff; position: relative; }

#headBox #gnb .gnb_box li a:after { content: " "; display: block; position: absolute; width: 0; height: 0; border-bottom: 2px solid #ffffff; bottom: 0; left: 50%; margin-left: 0; transition: all 500ms ease; }

#headBox #gnb .gnb_box li a:focus, #headBox #gnb .gnb_box li a:hover { text-decoration: none; }

#headBox #gnb .gnb_box li a:focus:after, #headBox #gnb .gnb_box li a:hover:after { width: 100%; margin-left: -50%; }

#headBox #gnb h1 { width: 128px; height: 100%; margin-left: 60px; float: left; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#headBox #gnb h1 a { display: block; width: 100%; height: 100%; }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* min1367(pcFull) layout -------------------------------- */
@media screen and (min-width: 1367px) { #headBox { width: 100%; min-width: 100%; height: 3.4375rem; background-color: #111; position: fixed; z-index: 3000; }
  #headBox #gnb { width: 100%; height: 100%; }
  #headBox #gnb .lang_box { width: 130px; height: 40px; float: right; margin-right: 20px; margin-top: 5px; text-align: center; color: #ffffff; font-size: 1rem; cursor: pointer; overflow: hidden; }
  #headBox #gnb .lang_box .language { width: 100%; height: 120px; background-color: #111; position: relative; z-index: 10; }
  #headBox #gnb .lang_box .language li { width: 100%; height: 40px; text-transform: uppercase; line-height: 40px; }
  #headBox #gnb .lang_box .language li a { width: 100%; height: 100%; color: #ffffff; text-decoration: none; letter-spacing: 2px; }
  #headBox #gnb .lang_box .language li:nth-of-type(1) { background-image: url("../img/global/south_korea.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }
  #headBox #gnb .lang_box .language li:nth-of-type(2) { background-image: url("../img/global/global.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }
  #headBox #gnb .lang_box .language li:nth-of-type(3) { background-image: url("../img/global/japan.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }
  #headBox #gnb > .open_btn { display: none; }
  #headBox #gnb > .open_btn > .btn_bar { display: none; }
  #headBox #gnb > .open_btn > .btn_bar:before, #headBox #gnb > .open_btn > .btn_bar:after { display: none; }
  #headBox #gnb > .open_btn > .btn_bar:before { display: none; }
  #headBox #gnb > .open_btn > .btn_bar:after { display: none; }
  #headBox #gnb > .open_btn.active > .btn_bar { display: none; }
  #headBox #gnb > .open_btn.active > .btn_bar { display: none; }
  #headBox #gnb > .open_btn.active > .btn_bar:before { display: none; }
  #headBox #gnb > .open_btn.active > .btn_bar:after { display: none; }
  #headBox #gnb .gnb_box { width: 500px; height: 100%; margin-right: 20px; float: right; }
  #headBox #gnb .gnb_box li { width: 90px; height: 90%; float: left; text-align: center; line-height: 3.4375rem; margin-left: 20px; }
  #headBox #gnb .gnb_box li a { display: block; width: 100%; height: 90%; color: #ffffff; position: relative; }
  #headBox #gnb .gnb_box li a:after { content: " "; display: block; position: absolute; width: 0; height: 0; border-bottom: 2px solid #ffffff; bottom: 0; left: 50%; margin-left: 0; transition: all 500ms ease; }
  #headBox #gnb .gnb_box li a:focus, #headBox #gnb .gnb_box li a:hover { text-decoration: none; }
  #headBox #gnb .gnb_box li a:focus:after, #headBox #gnb .gnb_box li a:hover:after { width: 100%; margin-left: -50%; }
  #headBox #gnb h1 { width: 128px; height: 100%; margin-left: 60px; float: left; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #headBox #gnb h1 a { display: block; width: 100%; height: 100%; } }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* 768 ~ 1366(tabPc) layout -------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1366px) { #headBox { width: 100%; min-width: 100%; height: 3.4375rem; background-color: #111; position: fixed; z-index: 3000; }
  #headBox #gnb { width: 100%; height: 100%; }
  #headBox #gnb .lang_box { width: 130px; height: 40px; float: right; margin-right: 20px; margin-top: 5px; text-align: center; color: #ffffff; font-size: 1rem; cursor: pointer; overflow: hidden; }
  #headBox #gnb .lang_box .language { width: 100%; height: 120px; background-color: #111; position: relative; z-index: 10; }
  #headBox #gnb .lang_box .language li { width: 100%; height: 40px; text-transform: uppercase; line-height: 40px; }
  #headBox #gnb .lang_box .language li a { width: 100%; height: 100%; color: #ffffff; text-decoration: none; letter-spacing: 2px; }
  #headBox #gnb .lang_box .language li:nth-of-type(1) { background-image: url("../img/global/south_korea.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }
  #headBox #gnb .lang_box .language li:nth-of-type(2) { background-image: url("../img/global/global.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }
  #headBox #gnb .lang_box .language li:nth-of-type(3) { background-image: url("../img/global/japan.png"); background-repeat: no-repeat; background-position: left; background-size: 25px; }
  #headBox #gnb > .open_btn { display: none; }
  #headBox #gnb > .open_btn > .btn_bar { display: none; }
  #headBox #gnb > .open_btn > .btn_bar:before, #headBox #gnb > .open_btn > .btn_bar:after { display: none; }
  #headBox #gnb > .open_btn > .btn_bar:before { display: none; }
  #headBox #gnb > .open_btn > .btn_bar:after { display: none; }
  #headBox #gnb > .open_btn.active > .btn_bar { display: none; }
  #headBox #gnb > .open_btn.active > .btn_bar { display: none; }
  #headBox #gnb > .open_btn.active > .btn_bar:before { display: none; }
  #headBox #gnb > .open_btn.active > .btn_bar:after { display: none; }
  #headBox #gnb .gnb_box { width: 500px; height: 100%; margin-right: 20px; float: right; }
  #headBox #gnb .gnb_box li { width: 90px; height: 90%; float: left; text-align: center; line-height: 3.4375rem; margin-left: 20px; }
  #headBox #gnb .gnb_box li a { display: block; width: 100%; height: 90%; color: #ffffff; position: relative; }
  #headBox #gnb .gnb_box li a:after { content: " "; display: block; position: absolute; width: 0; height: 0; border-bottom: 2px solid #ffffff; bottom: 0; left: 50%; margin-left: 0; transition: all 500ms ease; }
  #headBox #gnb .gnb_box li a:focus, #headBox #gnb .gnb_box li a:hover { text-decoration: none; }
  #headBox #gnb .gnb_box li a:focus:after, #headBox #gnb .gnb_box li a:hover:after { width: 100%; margin-left: -50%; }
  #headBox #gnb h1 { width: 128px; height: 100%; margin-left: 60px; float: left; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #headBox #gnb h1 a { display: block; width: 100%; height: 100%; } }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* 481 ~ 767(tabV) layout -------------------------------- */
@media screen and (min-width: 481px) and (max-width: 767px) { #headBox { width: 100%; height: 45px; min-width: 100%; }
  #headBox #gnb { width: 100%; min-width: 100%; height: 100%; position: relative; }
  #headBox #gnb > h1 { width: 100px; height: 40px; margin-left: 30px; position: absolute; }
  #headBox #gnb > .open_btn { width: 40px; height: 25px; position: absolute; border-radius: 0.3rem; top: 10px; right: 0; margin-right: 20px; z-index: 1; background-color: transparent; }
  #headBox #gnb > .open_btn > .btn_bar { display: block; width: 100%; height: 4px; background-color: #ffffff; border-radius: 5px; transition: all 800ms ease; }
  #headBox #gnb > .open_btn > .btn_bar:before, #headBox #gnb > .open_btn > .btn_bar:after { content: " "; display: block; width: inherit; height: inherit; position: absolute; border-radius: 5px; transition: all 800ms ease; }
  #headBox #gnb > .open_btn > .btn_bar:before { top: 0; transform-origin: left top; background-color: #fff; }
  #headBox #gnb > .open_btn > .btn_bar:after { bottom: 0; transform-origin: left bottom; background-color: #fff; }
  #headBox #gnb > .open_btn.active > .btn_bar { transform: rotateY(180deg); }
  #headBox #gnb > .open_btn.active > .btn_bar { background-color: transparent; }
  #headBox #gnb > .open_btn.active > .btn_bar:before { top: -15px; width: 70%; transform: rotate(45deg); margin-left: 10px; margin-top: 5px; }
  #headBox #gnb > .open_btn.active > .btn_bar:after { bottom: -8px; width: 70%; transform: rotate(-45deg); transform-origin: left bottom; margin-left: 10px; margin-right: 5px; }
  #headBox #gnb .gnb_box { width: 100%; height: 350px; background-color: #111; margin-right: 0; display: none; }
  #headBox #gnb .gnb_box li { width: 100%; height: 50px; padding: 1rem; margin-left: 0; }
  #headBox #gnb .lang_box { width: 120px; height: 37px; margin-top: 3px; margin-right: 70px; } }

@media screen and (max-width: 480px) { #headBox { width: 100%; height: 38px; min-width: 100%; }
  #headBox #gnb { width: 100%; min-width: 100%; height: 100%; position: relative; }
  #headBox #gnb > h1 { width: 70px; height: 30px; margin-left: 30px; position: absolute; top: 15%; }
  #headBox #gnb > .open_btn { width: 35px; height: 25px; position: absolute; border-radius: 0.3rem; top: 5px; right: 0; margin-right: 20px; z-index: 1; background-color: transparent; }
  #headBox #gnb > .open_btn > .btn_bar { display: block; width: 100%; height: 4px; background-color: #ffffff; border-radius: 5px; transition: all 800ms ease; }
  #headBox #gnb > .open_btn > .btn_bar:before, #headBox #gnb > .open_btn > .btn_bar:after { content: " "; display: block; width: inherit; height: inherit; position: absolute; border-radius: 5px; transition: all 800ms ease; }
  #headBox #gnb > .open_btn > .btn_bar:before { top: 0; transform-origin: left top; background-color: #fff; }
  #headBox #gnb > .open_btn > .btn_bar:after { bottom: 0; transform-origin: left bottom; background-color: #fff; }
  #headBox #gnb > .open_btn.active > .btn_bar { transform: rotateY(180deg); }
  #headBox #gnb > .open_btn.active > .btn_bar { background-color: transparent; }
  #headBox #gnb > .open_btn.active > .btn_bar:before { top: -8px; width: 70%; transform: rotate(45deg); margin-left: 10px; margin-top: 2px; }
  #headBox #gnb > .open_btn.active > .btn_bar:after { bottom: -11px; width: 70%; transform: rotate(-45deg); transform-origin: left bottom; margin-left: 10px; margin-top: 2px; }
  #headBox #gnb .gnb_box { width: 100%; height: 300px; background-color: #111; margin-right: 0; display: none; }
  #headBox #gnb .gnb_box li { width: 100%; height: 40px; padding: 1rem; margin-left: 0; }
  #headBox #gnb .lang_box { width: 120px; height: 37px; margin-top: 0; } }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

#bannerBox { width: 100%; min-width: 960px; height: 440px; padding-top: 55px; }

#bannerBox > .banner_01 { width: 100%; min-width: 960px; height: 440px; background-image: url("../img/news/news_banner.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#bannerBox > .banner_01 > h1 { width: 440px; height: 100px; color: #ffffff; font-size: 52px; font-size: 3.25rem; text-align: center; line-height: 100px; margin: auto; padding-top: 90px; letter-spacing: 6px; }

#bannerBox > .banner_01 > p { display: block; color: #ffffff; margin: auto; width: 700px; height: 60px; text-align: center; line-height: 60px; font-size: 18px; font-size: 1.125rem; letter-spacing: 2px; }

#modalBox { width: 100%; height: auto; margin: auto; padding-top: 200px; box-sizing: border-box; background-color: #111; }

#modalBox .list_box { width: 100%; min-width: 960px; height: 400px; }

#modalBox .list_box ul { width: 960px; height: auto; margin: auto; }

#modalBox .list_box ul li { width: 250px; height: 130px; margin-bottom: 40px; background-position: center; background-size: 50%; overflow: hidden; float: left; margin-left: 40px; }

#modalBox .list_box a { display: block; width: 100%; height: 100%; position: relative; transition: all 300ms ease; box-sizing: border-box; overflow: hidden; }

#modalBox .list_box a > img { width: 100%; height: auto; margin-top: -16px; margin-top: -1rem; transition: all 300ms ease; }

#modalBox .list_box a:focus, #modalBox .list_box a:hover, #modalBox .list_box a.active { border: 5px solid #fff; }

#modalBox .list_box a:focus > img, #modalBox .list_box a:hover > img, #modalBox .list_box a.active > img { transform: scale(1.2); }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* min1367(pcFull) layout -------------------------------- */
@media screen and (min-width: 1367px) { body, #wrap { min-width: 100%; }
  #bannerBox { width: 100%; min-width: 100%; height: 440px; padding-top: 55px; }
  #bannerBox > .banner_01 { width: 100%; min-width: 100%; height: 440px; background-image: url("../img/news/news_banner.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }
  #bannerBox > .banner_01 > h1 { width: 440px; height: 100px; color: #ffffff; font-size: 3.25rem; text-align: center; line-height: 100px; margin: auto; padding-top: 90px; letter-spacing: 6px; }
  #bannerBox > .banner_01 > p { display: block; color: #ffffff; margin: auto; width: 700px; height: 60px; text-align: center; line-height: 60px; font-size: 1.125rem; letter-spacing: 2px; }
  #modalBox { width: 100%; height: auto; margin: auto; padding-top: 200px; box-sizing: border-box; background-color: #111; }
  #modalBox .list_box { width: 100%; min-width: 100%; height: 400px; }
  #modalBox .list_box ul { width: 100%; height: auto; margin: auto; }
  #modalBox .list_box ul li { width: 250px; height: 130px; margin-bottom: 40px; background-position: center; background-size: 50%; overflow: hidden; float: left; margin-left: 40px; }
  #modalBox .list_box a { display: block; width: 100%; height: 100%; position: relative; transition: all 300ms ease; box-sizing: border-box; overflow: hidden; }
  #modalBox .list_box a > img { width: 100%; height: auto; margin-top: -1rem; transition: all 300ms ease; }
  #modalBox .list_box a:focus, #modalBox .list_box a:hover, #modalBox .list_box a.active { border: 5px solid #fff; }
  #modalBox .list_box a:focus > img, #modalBox .list_box a:hover > img, #modalBox .list_box a.active > img { transform: scale(1.2); } }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* 768 ~ 1366(tabPc) layout -------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1366px) { body, #wrap { min-width: 100%; }
  #bannerBox { width: 100%; min-width: 100%; height: 440px; padding-top: 55px; }
  #bannerBox > .banner_01 { width: 100%; min-width: 100%; height: 440px; background-image: url("../img/news/news_banner.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }
  #bannerBox > .banner_01 > h1 { width: 440px; height: 100px; color: #ffffff; font-size: 3.25rem; text-align: center; line-height: 100px; margin: auto; padding-top: 90px; letter-spacing: 6px; }
  #bannerBox > .banner_01 > p { display: block; color: #ffffff; margin: auto; width: 700px; height: 60px; text-align: center; line-height: 60px; font-size: 1.125rem; letter-spacing: 2px; }
  #modalBox { width: 100%; height: auto; margin: auto; padding-top: 200px; box-sizing: border-box; background-color: #111; }
  #modalBox .list_box { width: 100%; min-width: 100%; height: 400px; margin: auto; }
  #modalBox .list_box ul { width: 960px; height: auto; margin: auto; }
  #modalBox .list_box ul li { width: 250px; height: 130px; margin-bottom: 40px; background-position: center; background-size: 50%; overflow: hidden; float: left; margin-left: 40px; }
  #modalBox .list_box a { display: block; width: 100%; height: 100%; position: relative; transition: all 300ms ease; box-sizing: border-box; overflow: hidden; }
  #modalBox .list_box a > img { width: 100%; height: auto; margin-top: -1rem; transition: all 300ms ease; }
  #modalBox .list_box a:focus, #modalBox .list_box a:hover, #modalBox .list_box a.active { border: 5px solid #fff; }
  #modalBox .list_box a:focus > img, #modalBox .list_box a:hover > img, #modalBox .list_box a.active > img { transform: scale(1.2); } }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* 481 ~ 767(tabV) layout -------------------------------- */
@media screen and (min-width: 481px) and (max-width: 767px) { #wrap, body { min-width: 100%; }
  #bannerBox { width: 100%; min-width: 100%; height: 25rem; padding-top: 3.4375rem; }
  #bannerBox > .banner_01 { width: 100%; min-width: 100%; height: 25rem; background-image: url("../img/news/news_banner.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }
  #bannerBox > .banner_01 > h1 { width: 18.75rem; height: 6.25rem; color: #ffffff; font-size: 2.25rem; text-align: center; line-height: 6.25rem; margin: auto; padding-top: 5.625rem; letter-spacing: 0.375rem; }
  #bannerBox > .banner_01 > p { display: block; color: #ffffff; margin: auto; width: 100%; height: 3.75rem; text-align: center; line-height: 1.875rem; font-size: 1.125rem; letter-spacing: 0.125rem; }
  #modalBox { width: 100%; height: 400px; margin: auto; padding-top: 100px; box-sizing: border-box; background-color: #111; }
  #modalBox .list_box { width: 100%; min-width: 100%; height: 400px; }
  #modalBox .list_box ul { width: 100%; height: auto; margin: auto; }
  #modalBox .list_box ul li { width: 200px; height: 120px; margin-bottom: 50px; background-position: center; background-size: 50%; overflow: hidden; float: left; margin-left: 110px; }
  #modalBox .list_box a { display: block; width: 100%; height: 100%; position: relative; transition: all 300ms ease; box-sizing: border-box; overflow: hidden; }
  #modalBox .list_box a > img { width: 100%; height: auto; margin-top: -1rem; transition: all 300ms ease; }
  #modalBox .list_box a:focus, #modalBox .list_box a:hover, #modalBox .list_box a.active { border: 5px solid #fff; }
  #modalBox .list_box a:focus > img, #modalBox .list_box a:hover > img, #modalBox .list_box a.active > img { transform: scale(1.2); } }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* max480(mob) layout -------------------------------- */
@media screen and (max-width: 480px) { body, #wrap { min-width: 100%; }
  #bannerBox { width: 100%; min-width: 100%; height: 25rem; padding-top: 3.4375rem; }
  #bannerBox > .banner_01 { width: 100%; min-width: 100%; height: 25rem; background-image: url("../img/news/news_banner.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }
  #bannerBox > .banner_01 > h1 { width: 18.75rem; height: 6.25rem; color: #ffffff; font-size: 2.25rem; text-align: center; line-height: 6.25rem; margin: auto; padding-top: 5.625rem; letter-spacing: 0.375rem; }
  #bannerBox > .banner_01 > p { display: block; color: #ffffff; margin: auto; width: 100%; height: 3.75rem; text-align: center; line-height: 1.875rem; font-size: 1.125rem; letter-spacing: 0.125rem; }
  #modalBox { width: 100%; height: 400px; margin: auto; padding-top: 100px; box-sizing: border-box; background-color: #111; }
  #modalBox .list_box { width: 100%; min-width: 100%; height: 400px; }
  #modalBox .list_box ul { width: 480px; height: auto; margin: auto; }
  #modalBox .list_box ul li { width: 230px; height: 140px; margin-bottom: 50px; background-position: center; background-size: 50%; overflow: hidden; float: left; margin-left: 120px; }
  #modalBox .list_box a { display: block; width: 100%; height: 100%; position: relative; transition: all 300ms ease; box-sizing: border-box; overflow: hidden; }
  #modalBox .list_box a > img { width: 100%; height: auto; margin-top: -1rem; transition: all 300ms ease; }
  #modalBox .list_box a:focus, #modalBox .list_box a:hover, #modalBox .list_box a.active { border: 5px solid #fff; }
  #modalBox .list_box a:focus > img, #modalBox .list_box a:hover > img, #modalBox .list_box a.active > img { transform: scale(1.2); } }

#showinfoBox { width: 100%; height: 100%; position: fixed; z-index: 1000; background-image: url("../img/personal_information/personal_information_01.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; display: none; top: 0; left: 0; }

#showinfoBox .pop_tie { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); padding: 144px; padding: 9rem; box-sizing: border-box; }

#showinfoBox .pop_tie .popupBox { width: 670px; height: 450px; background-color: #111; overflow-y: auto; padding: 32px; padding: 2rem; box-sizing: border-box; position: fixed; left: 50%; margin-left: -335px; }

#showinfoBox .pop_tie .popupBox p { display: block; width: 100%; height: auto; color: #aaa; }

#showinfoBox .pop_tie button { width: 60px; height: 60px; position: fixed; right: 25%; top: 120px; font-size: 64px; font-size: 4rem; color: #fff; background-color: transparent; }

#footBox { width: 100%; min-width: 960px; height: 240px; padding: 20.8px; padding: 1.3rem; box-sizing: border-box; background-color: #111; position: relative; bottom: 0; left: 0; }

#footBox h2 { width: 231.008px; width: 14.438rem; height: 70px; margin: auto; }

#footBox h2 a { display: block; width: 100%; height: 100%; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#footBox .info_box { width: 100%; height: auto; }

#footBox .info_box ul { width: 317px; height: 60px; margin: auto; margin-top: 10px; }

#footBox .info_box ul li { width: 60px; height: 60px; float: left; margin-left: 20px; border-radius: 50px; border: 2px solid #ffffff; }

#footBox .info_box ul li:nth-child(1) { background-image: url("../img/youtube.png"); background-repeat: no-repeat; background-position: center; background-size: 70%; }

#footBox .info_box ul li:nth-child(2) { background-image: url("../img/twitter.png"); background-repeat: no-repeat; background-position: center; background-size: 70%; }

#footBox .info_box ul li:nth-child(3) { background-image: url("../img/facebook.png"); background-repeat: no-repeat; background-position: center; background-size: 70%; }

#footBox .info_box ul li:nth-child(4) { background-image: url("../img/instagram.png"); background-repeat: no-repeat; background-position: center; background-size: 70%; }

#footBox .info_box ul li:first-child { margin-left: 0; }

#footBox .info_box ul li a { display: block; width: 100%; height: 100%; font-size: 41.6px; font-size: 2.6rem; text-align: center; line-height: 70px; color: #ffffff; border-radius: 50px; }

#footBox .info_box ul li a > i { display: none; }

#footBox .info_box ul li a:hover, #footBox .info_box ul li a:focus { color: #333; background-color: #ffffff; -webkit-transition: all 0.35s ease-in-out; }

#footBox .address_box { width: 410px; height: 50px; margin: 0 auto; }

#footBox .address_box address { width: 100%; height: 100%; float: left; margin-top: 10px; }

#footBox .address_box address div { width: 145px; height: 100%; margin-left: 5px; float: left; }

#footBox .address_box address div:first-child { margin: 0; }

#footBox .address_box address div:last-child { width: 110px; }

#footBox .address_box address div .fnb_btn { display: inline-block; width: 100%; height: 100%; text-align: center; line-height: 50px; background-color: transparent; color: #ffffff; }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* min1367(pcFull) layout -------------------------------- */
@media screen and (min-width: 1367px) { #showinfoBox { width: 100%; height: 100%; position: fixed; z-index: 1000; background-image: url("../img/personal_information/personal_information_01.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; display: none; top: 0; left: 0; }
  #showinfoBox .pop_tie { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); padding: 9rem; box-sizing: border-box; }
  #showinfoBox .pop_tie .popupBox { width: 670px; height: 450px; background-color: #111; overflow-y: auto; padding: 2rem; box-sizing: border-box; position: fixed; left: 50%; margin-left: -335px; }
  #showinfoBox .pop_tie .popupBox p { display: block; width: 100%; height: auto; color: #aaa; }
  #showinfoBox .pop_tie button { width: 60px; height: 60px; position: fixed; right: 24%; top: 120px; font-size: 4rem; color: #fff; background-color: transparent; }
  #footBox { width: 100%; min-width: 960px; height: 240px; padding: 1.3rem; box-sizing: border-box; background-color: #111; position: relative; bottom: 0; left: 0; }
  #footBox h2 { width: 14.438rem; height: 70px; margin: auto; }
  #footBox h2 a { display: block; width: 100%; height: 100%; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #footBox .info_box { width: 100%; height: auto; }
  #footBox .info_box ul { width: 317px; height: 60px; margin: auto; margin-top: 10px; }
  #footBox .info_box ul li { width: 60px; height: 60px; float: left; margin-left: 20px; border-radius: 50px; border: 2px solid #ffffff; }
  #footBox .info_box ul li:first-child { margin-left: 0; }
  #footBox .info_box ul li a { display: block; width: 100%; height: 100%; font-size: 2.6rem; text-align: center; line-height: 70px; color: #ffffff; border-radius: 50px; }
  #footBox .info_box ul li a:hover, #footBox .info_box ul li a:focus { color: #333; background-color: #ffffff; -webkit-transition: all 0.35s ease-in-out; }
  #footBox .address_box { width: 410px; height: 50px; margin: 0 auto; }
  #footBox .address_box address { width: 100%; height: 100%; float: left; margin-top: 10px; }
  #footBox .address_box address div { width: 145px; height: 100%; margin-left: 5px; float: left; }
  #footBox .address_box address div:first-child { margin: 0; }
  #footBox .address_box address div:last-child { width: 110px; }
  #footBox .address_box address div .fnb_btn { display: inline-block; width: 100%; height: 100%; text-align: center; line-height: 50px; background-color: transparent; color: #ffffff; } }

#wrap, body { width: 100%; height: 100%; margin: 0 auto; position: relative; background-color: #111; }

/* 768 ~ 1366(tabPc) layout -------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1366px) { #showinfoBox { width: 100%; height: 100%; position: fixed; z-index: 1000; background-image: url("../img/personal_information/personal_information_01.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; display: none; top: 0; left: 0; }
  #showinfoBox .pop_tie { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); padding: 9rem; box-sizing: border-box; }
  #showinfoBox .pop_tie .popupBox { width: 670px; height: 450px; background-color: #111; overflow-y: auto; padding: 2rem; box-sizing: border-box; position: fixed; left: 50%; margin-left: -335px; }
  #showinfoBox .pop_tie .popupBox p { display: block; width: 100%; height: auto; color: #aaa; }
  #showinfoBox .pop_tie button { width: 60px; height: 60px; position: fixed; right: 23%; top: 120px; font-size: 4rem; color: #fff; background-color: transparent; }
  #footBox { width: 100%; min-width: 960px; height: 240px; padding: 1.3rem; box-sizing: border-box; background-color: #111; position: relative; bottom: 0; left: 0; }
  #footBox h2 { width: 14.438rem; height: 70px; margin: auto; }
  #footBox h2 a { display: block; width: 100%; height: 100%; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #footBox .info_box { width: 100%; height: auto; }
  #footBox .info_box ul { width: 317px; height: 60px; margin: auto; margin-top: 10px; }
  #footBox .info_box ul li { width: 60px; height: 60px; float: left; margin-left: 20px; border-radius: 50px; border: 2px solid #ffffff; }
  #footBox .info_box ul li:first-child { margin-left: 0; }
  #footBox .info_box ul li a { display: block; width: 100%; height: 100%; font-size: 2.6rem; text-align: center; line-height: 70px; color: #ffffff; border-radius: 50px; }
  #footBox .info_box ul li a:hover, #footBox .info_box ul li a:focus { color: #333; background-color: #ffffff; -webkit-transition: all 0.35s ease-in-out; }
  #footBox .info_box .address_box { width: 410px; height: 50px; margin: 0 auto; }
  #footBox .info_box .address_box address { width: 100%; height: 100%; float: left; margin-top: 10px; }
  #footBox .info_box .address_box address div { width: 145px; height: 100%; margin-left: 5px; float: left; }
  #footBox .info_box .address_box address div:first-child { margin: 0; }
  #footBox .info_box .address_box address div:last-child { width: 110px; }
  #footBox .info_box .address_box address div .fnb_btn { display: inline-block; width: 100%; height: 100%; text-align: center; line-height: 50px; background-color: transparent; color: #ffffff; } }

/* 481 ~ 767(tabV) layout -------------------------------- */
@media screen and (min-width: 481px) and (max-width: 767px) { body, #wrap { min-width: 100%; }
  #showinfoBox { width: 100%; min-width: 100%; height: 100%; position: fixed; z-index: 1000; background-image: url("../img/personal_information/personal_information_01.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; display: none; top: 0; left: 0; }
  #showinfoBox .pop_tie { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); padding: 9rem; box-sizing: border-box; }
  #showinfoBox .pop_tie .popupBox { width: 80%; height: 25rem; background-color: #111; overflow-y: auto; padding: 2rem; box-sizing: border-box; position: fixed; left: 67%; margin-left: -20.9375rem; }
  #showinfoBox .pop_tie .popupBox p { display: block; width: 100%; height: auto; color: #aaa; }
  #showinfoBox .pop_tie button { width: 3.125rem; height: 3.125rem; border-radius: 100%; position: fixed; background-image: url("../img/close.png"); background-repeat: no-repeat; background-position: center; background-size: cover; right: 0.6875rem; top: 7.5rem; font-size: 4rem; color: #fff; background-color: transparent; }
  #showinfoBox .pop_tie button > i { display: none; }
  #footBox { width: 100%; min-width: 100%; height: 15rem; padding: 1.3rem; box-sizing: border-box; background-color: #111; position: relative; bottom: 0; left: 0; }
  #footBox h2 { width: 11.25rem; height: 4.375rem; margin: auto; }
  #footBox h2 a { display: block; width: 100%; height: 100%; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #footBox .info_box { width: 28.125rem; height: auto; margin: auto; }
  #footBox .info_box ul { width: 19.8125rem; height: 3.75rem; margin: auto; margin-top: 0.625rem; }
  #footBox .info_box ul li { width: 3.75rem; height: 3.75rem; float: left; margin-left: 1.25rem; border-radius: 100%; border: 2px solid #ffffff; }
  #footBox .info_box ul li:first-child { margin-left: 0; }
  #footBox .info_box ul li a { display: block; width: 100%; height: 100%; font-size: 2.6rem; text-align: center; line-height: 4.375rem; color: #ffffff; border-radius: 3.125rem; }
  #footBox .info_box ul li a:hover, #footBox .info_box ul li a:focus { color: #333; background-color: #ffffff; -webkit-transition: all 0.35s ease-in-out; }
  #footBox .address_box { width: 27.5rem; height: 3.125rem; margin: 0 auto; margin-top: 1.25rem; }
  #footBox .address_box address { width: 100%; height: 100%; }
  #footBox .address_box address div { width: 9.0625rem; height: 100%; margin-left: 0.3125rem; float: left; }
  #footBox .address_box address div.fnb_01 { margin: 0; }
  #footBox .address_box address div.fnb_03 { width: 8.75rem; }
  #footBox .address_box address div .fnb_btn { display: inline-block; width: 100%; height: 100%; text-align: center; line-height: 3.125rem; background-color: transparent; color: #ffffff; } }

@media screen and (max-width: 480px) { body, #wrap { min-width: 100%; }
  #showinfoBox { width: 100%; min-width: 100%; height: 100%; position: fixed; z-index: 1000; background-image: url("../img/personal_information/personal_information_01.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; display: none; top: 0; left: 0; }
  #showinfoBox .pop_tie { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); padding: 9rem; box-sizing: border-box; }
  #showinfoBox .pop_tie .popupBox { width: 400px; height: 400px; background-color: #111; overflow-y: auto; padding: 2rem; box-sizing: border-box; position: fixed; left: 85%; }
  #showinfoBox .pop_tie .popupBox p { display: block; width: 100%; height: auto; color: #aaa; }
  #showinfoBox .pop_tie button { width: 60px; height: 60px; position: fixed; background-image: url("../img/close.png"); background-repeat: no-repeat; background-position: center; background-size: cover; right: 3%; top: 120px; font-size: 4rem; color: #fff; background-color: transparent; }
  #showinfoBox .pop_tie button > i { display: none; }
  #footBox { width: 100%; min-width: 100%; height: 240px; padding: 0; box-sizing: border-box; background-color: #111; position: relative; bottom: 0; left: 0; }
  #footBox h2 { width: 180px; height: 70px; margin: auto; }
  #footBox h2 a { display: block; width: 100%; height: 100%; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #footBox .info_box { width: 300px; height: auto; margin: auto; }
  #footBox .info_box ul { width: 300px; height: 60px; margin: auto; margin-top: 10px; }
  #footBox .info_box ul li { width: 50px; height: 50px; float: left; margin-left: 28px; border-radius: 100%; border: 2px solid #ffffff; }
  #footBox .info_box ul li:nth-child(1) { background-image: url("../img/youtube.png"); background-repeat: no-repeat; background-position: center; background-size: 70%; }
  #footBox .info_box ul li:nth-child(2) { background-image: url("../img/twitter.png"); background-repeat: no-repeat; background-position: center; background-size: 70%; }
  #footBox .info_box ul li:nth-child(3) { background-image: url("../img/facebook.png"); background-repeat: no-repeat; background-position: center; background-size: 70%; }
  #footBox .info_box ul li:nth-child(4) { background-image: url("../img/instagram.png"); background-repeat: no-repeat; background-position: center; background-size: 70%; }
  #footBox .info_box ul li:first-child { margin-left: 0; }
  #footBox .info_box ul li a { display: block; width: 100%; height: 100%; font-size: 2.6rem; text-align: center; line-height: 70px; color: #ffffff; border-radius: 50px; }
  #footBox .info_box ul li a > i { display: none; }
  #footBox .info_box ul li a:hover, #footBox .info_box ul li a:focus { color: #333; background-color: #ffffff; -webkit-transition: all 0.35s ease-in-out; }
  #footBox .address_box { width: 100%; height: 50px; margin: 0 auto; }
  #footBox .address_box address { width: 100%; height: 100%; }
  #footBox .address_box address div { width: 145px; height: 100%; margin-left: 15px; float: left; }
  #footBox .address_box address div.fnb_01 { margin: 0; }
  #footBox .address_box address div.fnb_02 { width: 100px; }
  #footBox .address_box address div.fnb_03 { width: 100px; }
  #footBox .address_box address div .fnb_btn { display: inline-block; width: 100%; height: 100%; text-align: center; line-height: 50px; background-color: transparent; color: #ffffff; } }
